// ==========================================================================
// BLOG
// ==========================================================================

.blog_root {
	padding: 20px;
	margin-top: 30px;
}

.blog_content {
	max-width: 1000px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
}

.blog_content_text {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 60px;
}

.blog_content_text h3 {
	margin-top: -10px;
}

.blog_content_text img {
	border-radius: 8px;
	margin: 10px 0 14px 0;
}
