// ==========================================================================
// Btn
// ==========================================================================

.btn {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	background: transparent;
	border: 2px solid var(--c-black);
	color: var(--c-black);
	font-weight: 500;
	padding: 1rem 2.4rem;
	z-index: 2;
	border-radius: 3px;
	transition: color 0.4s;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		right: 50%;
		bottom: 0;
		opacity: 0;
		background-color: var(--c-black);
		z-index: -2;
		transition: all 0.4s;
	}

	@media (hover: hover) {
		&:hover {
			color: var(--c-white);

			&:before {
				left: 0;
				right: 0;
				opacity: 1;
			}
		}
	}
}

// Btn base
.btn--base {
	border-color: var(--c-base);
	color: var(--c-base);

	&:before {
		background-color: var(--c-base);
	}

	@media (hover: hover) {
		&:hover {
			color: var(--c-black);
		}
	}
}

// Btn block
.btn--block {
	display: block;
	padding-inline: 0;
}
