// ==========================================================================
// CTA
// ==========================================================================

.privacy_root {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
}

.privacy_content {
	max-width: 1000px;
	margin-inline: auto;
}
