// ==========================================================================
// CTA
// ==========================================================================

.privacy_text {
	padding-left: 10px;
	font-size: 16px;
	margin-bottom: 16px;
}
