// ==========================================================================
// Section Content
// ==========================================================================

.section-content {
	padding: 5rem 0;
	text-align: center;
	font-size: 2rem;
	background: var(--c-base);
	color: #fff;

	@include breakpoint-down(tablet) {
		font-size: 1.6rem;
		padding: 4rem 0;
	}

	.section__content {
		max-width: 100rem;
		margin-inline: auto;
	}

	.section__content p {
		margin-bottom: 0;
	}
}
