<header class="header">
    <div class="container">
        <div class="header__menu js-menu">
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#intro" class="js-scroll-to">Начало</a>
                    </li>

                    <li>
                        <a href="#about-us" class="js-scroll-to">За нас</a>
                    </li>

                    <li>
                        <a href="#services" class="js-scroll-to">Услуги</a>
                    </li>

                    <li>
                        <a href="#why-us" class="js-scroll-to">Защо да изберете нас?</a>
                    </li>

                    <li class="hidden">
                        <a href="#clients" class="js-scroll-to">Нашите клиенти</a>
                    </li>

                    <li>
                        <a href="#contact" class="js-scroll-to">Свържи се с нас</a>
                    </li>
					<li>
						<a href="../blog.html" class="js-scroll-to">Блог</a>
					</li>
                </ul>
            </nav><!-- /.nav -->
        </div><!-- /.header__menu -->

        <div class="header__toggle">
            <button class="menu-toggle js-menu-toggle">
                <span></span>

                <span></span>

                <span></span>
            </button><!-- /.menu-toggle -->
        </div><!-- /.header__toggle -->
    </div><!-- /.container -->
</header><!-- /.header -->
